._604-{left:50%;position:absolute;top:50%;transform:translateX(-50%) translateY(-50%)}
._3vwb{cursor:pointer}
._3qn7{display:flex}._2fyi{flex-direction:row}._2fyh{flex-direction:column}._61-0{justify-content:flex-start}._61-1{justify-content:center}._61-2{justify-content:flex-end}._61-3{justify-content:space-between}._3qng{align-items:center}._3qnf{align-items:flex-start}._3qnu{align-items:flex-end}._1a9e{align-items:stretch}._4tau{flex-wrap:wrap}._4tav{flex-wrap:wrap-reverse}

#bootloader_AygPF{height:42px;}.bootloader_AygPF{display:block!important;}