._6kf_{margin-left:2px;margin-right:-4px}._6kg0,._6kg0._6kg3 ._6kg0._6kg3._42fr:active,._6kg0._6kg3._42fr._42fs{height:44px;padding:0 0;width:60px}

#bootloader_8rXr8{height:42px;}.bootloader_8rXr8{display:block!important;}